{"filter":false,"title":"packages.config","tooltip":"/parttimejob/.ebextensions/packages.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":25},"action":"insert","lines":["packages:","    yum:","        python3-devel: []","        mariadb-devel: []"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":25},"end":{"row":3,"column":25},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1713656880229,"hash":"8d4fb85709cd583ba8a3752f601b4383861b3188"}